body {
    background-color: #eaf6f6;
}

hr {
    background-color: #eaf6f6;
    border-style: dotted;
    border-bottom-style: none;
    border-width: 10px;
    border-color: #71c9ce;
    height: 0px;
    width: 5%;
}
